.wishlist__item {
  height: 165px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 864px;
  align-items: center;
  position: relative;
}

.wishlist__item::after {
  content: '';
  display: block;
  border: 1px solid #e3e3e3;
  width: 100%;
  position: absolute;
  top: 100%
}

.wishlist__div {
  height: 70%;
  width: 20%;
  position: relative;
  padding-top: 18px;
  color: #333333;
  line-height: 45px
}

.wishlist__div--size-full {
  height: 100%;
  max-width: 100%;
  padding-top: auto
}

.wishlist__image {
  height: 70%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute
}

.wishlist__div--width-30 {
  width: 30%;
}

.wishlist__div--padding-left-20 {
  padding-left: 20px
}

.wishlist__name {
  text-decoration: none;
  text-transform: capitalize;
  color: #333333;
  transition: all 0.8s ease-in-out
}

.wishlist__name:hover {
  color: #eabe12
}

.wishlist__stock-status--color-green {
  color: #297E29
}

.wishlist__stock-status--color-red {
  color: #f00
}

.wishlist__button--yellow {
  background: #fff;
  outline: none;
  border: 2px solid #e3e3e3;
  padding: 15px;
  transition: all 0.8s ease-in-out
}

.wishlist__button--yellow:hover {
  border-color: #eabe12;
  color: #eabe12;
  cursor: pointer;
}

.wishlist__button--x {
  border: none;
  outline: none;
  background: none;
  float: right;
  line-height: 27px;
  cursor: pointer;
  color: #333333;
  font-size: 24px;
  transition: all 0.8s ease-in-out
}

.wishlist__button--x:hover {
  color: #000;
  transform: scale(1.2);
}

.wishlist__div--width-10 {
  width: 10%;
}