.wishlistItem {
  height: 165px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 864px;
  align-items: center;
  position: relative;
  /* border: 1px solid black */
}

.wishlistItem::after{
  content: '';
  display: block;
  border: 1px solid #e3e3e3;
  width: 100%;
  position: absolute;
  top: 100%
}

.wishlistItem div {
  height: 70%;
  width: 20%;
  position: relative;
  padding-top: 18px;
  color: #333333;
  line-height: 45px

}
div.img-div {
  height: 100%;
  max-width: 100%;
  padding-top: auto
}

.img-div__img {
  height: 70%;
  max-width: 100%;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  position: absolute
}
div.productName-div{
  width: 30%;
  padding-left: 20px;
}

div.productName-div .productName-div__link{
  text-decoration: none;
  text-transform: capitalize;
  color: #333333;
  transition: all 0.8s ease-in-out

}

div.productName-div .productName-div__link:hover{
  color: #eabe12
}


div.reomeFromCart-div{
  width: 10%;
}
.stockStatus-div__span.color--green{
  color: #297E29
}

.stockStatus-div__span.color--red{
  color: #f00
}

.addToCart-div__button{
  background: #fff;
  outline: none;
  border: 2px solid #e3e3e3;
  padding: 15px;
  transition: all 0.8s ease-in-out

}

.addToCart-div__button:hover{
  border-color: #eabe12;
  color: #eabe12;
  cursor: pointer;
}

.reomeFromCart-div__button{
  border: none;
  outline: none;
  background: none;
  float: right;
  line-height: 27px;
  cursor: pointer;
  color: #333333;
  font-size: 24px;
  transition: all 0.8s ease-in-out


}

.reomeFromCart-div__button:hover{
  color: #000;
  transform: scale(1.2);
}